div[contenteditable]:focus{
	outline-width: 1px;
}
table thead tr th p {margin: 0;}
table tbody tr td p {margin: 0;}
table tfoot tr th p {margin: 0;}
table tfoot tr td p {margin: 0;}
/****************************ABC_CONTENT***************************/
/*.abc_content span.nnum, .abc_content div.nnum {
	position: relative;background:rgba(255, 255, 255, 0.48);font-weight: bold;
}
.abc_content span.ntext{display: inline;}
.abc_content div.ntext{display: block;}
.abc_content input.ninput{display: none;background: transparent;}
.abc_content input[block].ninput{display: none;}
.abc_content textarea.ninput{display: none;background: transparent;}
.abc_content textarea[block].ninput{display: none;}*/

/*.abc_content.neditable span.nnum, */
/*.abc_content span.nnum.nnum2{
	position: absolute;left: 0;
}*/
/*.abc_content.neditable div.nnum, */
/*.abc_content div.nnum.nnum2{
	position: absolute;left: 0;
}*/
/*.abc_content.neditable span.ntext{display: none;}*/
/*.abc_content.neditable div.ntext{display: none;}*/
/*.abc_content.neditable input.ninput{display: inline;}*/
/*.abc_content.neditable input[block].ninput{display: block;}*/
/*.abc_content.neditable textarea.ninput{display: inline;}*/
/*.abc_content.neditable textarea[block].ninput{display: block;}*/
/*.abc_content .table_format {padding-bottom: 40px;}*/

/*.abc_content.neditable .nred{color: red;}*/

.hide-show{}
.hide-show.hide-element{display: none;}

/*_________________________________________________*/

.table-paragraph{position: relative;}
	.table-paragraph .table-plus{
		position: absolute;
		right: -48px; top: -1px;
		width: 28px;height: 28px;
		cursor: pointer;
	    z-index: 123; display: none;
	    background: transparent url(../images/plus_30.png) no-repeat center center;
	}
	#NPage.active .table-paragraph .table-plus{
		display: block;
	}
	.table-paragraph .table-plus-element{
		position: absolute;
		top: -2px;bottom: 0;z-index: 120;
		left: -20px;
		right: -20px;display: none;
		border-top: 3px solid #4caf50;
	}
	.table-paragraph .table-minus{
		position: absolute;
	    right: -23px; top: -1px;
	    width: 28px;height: 28px;
	    cursor: pointer;
	    z-index: 122;display: none;
	    background: transparent url(../images/minus_30.png) no-repeat center center;
	}
	#NPage.active .table-paragraph .table-minus{
		display: block;
	}
	.table-paragraph .table-minus:hover + table, .table-paragraph .table-minus:hover + table .nnum{
		background: rgba(250,169,163, 0.5);
	}
	.table-paragraph .table-plus:hover + .table-plus-element{
		display: block;
	}

.table-paragraph.clone-paragraph{display: none;}

/*_________________________________________________*/

.table-product{position: relative;}
	.table-product .tr-refresh{
		position: absolute;
		right: -26px; bottom: 40px;
		width: 28px;height: 28px;
		cursor: pointer;
	    z-index: 123; display: none;
	    background: transparent url(../images/refresh.svg) no-repeat center center;
	}
	.table-product .tr-plus{
		position: absolute;
		right: -34px; bottom: 8px;
		width: 28px;height: 28px;
		cursor: pointer;
	    z-index: 123; display: none;
	    background: transparent url(../images/plus_30.png) no-repeat center center;
	}
	#NPage.active .table-product .tr-plus, #NPage.active .table-product .tr-refresh{
		display: block;
	}
	.table-product .tr-minus{
		position: absolute;
	    right: -23px; bottom: -1px;
	    width: 28px;height: 28px;
	    cursor: pointer;
	    z-index: 122;display: none;
	    background: transparent url(../images/minus_30.png) no-repeat center center;
	}
	#NPage.active .table-product .tr-minus{
		display: block;
	}

.clone-product{display: none;}

/*________________________________________________________*/

.table-paragraph .tr-plus{
	position: absolute; z-index: 150;
	left: -35px;top: 1px;
	background: transparent url(../images/plus_20.png) no-repeat center center;
	width: 18px;height: 18px;cursor: pointer;
	display: none;
}
.table-paragraph .tr-plus.last{
	top: -12px;left: -18px;
}
.table-paragraph .tr-minus{
	position: absolute; z-index: 150;
	left: -18px;top: 1px;
	background: transparent url(../images/minus_20.png) no-repeat center center;
	width: 18px;height: 18px;cursor: pointer;
	display: none;
}
#NPage.active .table-paragraph .tr-plus{display: block;}
#NPage.active .table-paragraph .tr-minus{display: block;}


/************************EDIT BTN***************************/
.edit_btn{
	position: fixed;z-index: 200;right: 10px;top: 100px;
	opacity: 0.6;outline: 0 !important;width: 96px;
}
.edit_btn:hover, .edit_btn.active{opacity: 1;}

.save_fixed{
	position: fixed !important; right: 10px; z-index: 201; top: 60px;
	opacity: 0.7;outline: 0 !important;
}
.save_fixed:hover, .save_fixed.active{opacity: 1;}
.otalos{
	position: absolute;
    right: 0;
    bottom: -8px;
    border-radius: 50px;
    background: rgb(159, 255, 188);
    padding: 0 6px;
    color: #00540b;
    text-shadow: 1px 1px 1px #ffffff;
    font-weight: bold;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.6), 1px 1px 5px rgba(255, 255, 255, 1);
    cursor: default;
}

.podtverjden{color: green;}
.nepodtverjden{color: red;}

.tr-error td{background: rgba(255,227,148,0.65);}
.tr-error td input{background: transparent;}