body{font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;}
.n-page{padding: 15px;}
.n-shablone{}
.nred{color: red}
#NLoader{
	width: 100%;height: 100%;position: fixed;z-index: 5000;
	background: rgba(210, 210, 210, 0.1);top: 0; left:0;display: none;
}
#NLoader.active{display: block;}
#NMessage{
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
	position: fixed;z-index: 5500;right: 15px;top: 40px;width: 50%;min-width: 330px;
}
#NMessage ul{padding-left: 17px;}
#NMessage .message{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
	min-height: 0;
  height: 0; 
  padding: 0 1.5em;
  overflow: hidden;
  opacity: 0;
  border: 1px solid #bbbbbb;
  box-shadow: 0 0 50px #383838;
}
#NMessage .message .icon, #NMessage .message .cont{
	visibility: hidden;
}
#NMessage.nactive{
	top: 90px;
}
#NMessage.nactive .message{
	opacity: 1;
	height: auto;
  padding: 1em 1.5em;
}
#NMessage.nactive .message .icon, #NMessage.nactive .message .cont{
	visibility: visible;
}
#ctableClone .table-paragraph{display: none;}
#dtableClone{display: none;}

#EditButtons{
	background: #fff;
  z-index: 160;
  padding: 0 15px 0 0;
  position: absolute;
  top: 0;
}
#EditButtons.fix{position: fixed;top: 50px; box-shadow: -3px 1px 15px #929292; border-radius: 4px;}
#EditButtons .help-block{display: none;}
.parent-block{padding: 0 15px;height: 25px; line-height: 30px;font-size: 12px;}

textarea {
  box-sizing: border-box;
  max-height: 160px;
  min-height: 16px;
  overflow-x: hidden;
}

.btn.btn-img{height: 33.56px;padding: 2px 8px;}
	.btn.btn-img img{height: 100%;}
	.btn.btn-img object{height: 100%;cursor: pointer;}

/*****************UI STYLES*********************/
.ui .label small{
	color: #fff
}

.ui.label > a {
	opacity: 0.7;
}

.btn[disabled]{
	opacity: 0.3;
}

.ui.form input[type="text"], .ui.form select{line-height: 1.15em;padding-left: 0.5em;padding-right: 0.5em;}
.ui.form .help-block{display: none;}

.ui.table{} 
	.ui.table [role="td"]{
		padding: 0.2em 0.5em; 
		border-bottom: 1px solid rgba(34, 36, 38, 0.1);
	}
	.ui.table [role="td"]:last-child {
		border-bottom: 0 none;
	}

/********ATABLE, BTABLE, CTABLE, DTABLE*********/
.atable, 
.btable, 
.ctable,
.dtable {width: 100%;border-bottom: 1px solid #000;}
.etable {width: 100%;}

	.atable *, 
	.btable *, 
	.ctable *,
	.dtable *,
	.etable * {line-height: 20px;padding: 0;}

	.atable th, 
	.btable th, 
	.ctable th, 
	.dtable th {border: 1px solid #000;vertical-align: middle;text-align: center;}

		.atable th *, 
		.btable th *, 
		.ctable th *, 
		.dtable th * {text-align: center;}

	.atable td, 
	.btable td, 
	.ctable td, 
	.dtable td {border: 1px solid #000;vertical-align: top;text-align: justify;}
	.etable td {vertical-align: top;text-align: left;}

	.atable input[type="text"], 
	.btable input[type="text"], 
	.ctable input[type="text"], 
	.dtable input[type="text"],
	.etable input[type="text"] {border: 0 none;}

	.atable textarea, 
	.btable textarea, 
	.ctable textarea, 
	.dtable textarea, 
	.etable textarea {
		border: 0 none;text-align: justify;
		overflow: hidden;resize: none;
	}

	.atable input[block], 
	.btable input[block], 
	.ctable input[block], 
	.dtable input[block], 
	.etable input[block] {width: 100%;}

	.atable div[contenteditable], 
	.btable div[contenteditable], 
	.ctable div[contenteditable], 
	.dtable div[contenteditable], 
	.etable div[contenteditable], 
	.table_div {padding:4px 8px;}


/*--------ATABLE---------*/
.atable{}
	.atable th{padding: 8px 0;font-size: 16px;}

		.atable td > div, 
		.atable td > input{padding: 2px 8px;}

		.atable td.first, 
		.atable td.first > div,
		.atable td.first > input{text-align: left;}

		.atable td.second, 
		.atable td.second > div,
		.atable td.second > input{text-align: right;}


/*--------BTABLE---------*/
.btable{}
	.btable td{}
	.btable .inside_table{padding: 5px;}


/*--------CTABLE---------*/
.ctable{}
	.ctable th {border-top: 0 none;padding: 0 8px;vertical-align: top;}
		.ctable th > div *{line-height: 21px;}
		.ctable th textarea{height: 20px;line-height: 18px;background: transparent;}
		/*.ctable th > div input[block]{padding-left: 20px;}*/
	.ctable td {border-top: 0 none;border-bottom:0 none;padding: 2px 8px;}
	
	.ctable td div[contenteditable]{
		padding: 0;min-height: 20px;
	}

	.ctable td textarea.ninput, 
	.ctable td div[contenteditable], 
	.ctable td div[contenteditable] > div:first-child {
		text-indent: 32px;/* padding: 2px 8px; */
	}
	.ctable td div[contenteditable] *{
		text-indent: 0;
	}
	
	.abc_content.neditable .ctable th .nnum{padding: 0 7px;}

/*--------DTABLE---------*/

.dtable{}
	.dtable th{}
	.dtable td{vertical-align: middle;text-align: center;}
	.dtable .numr{padding: 10px 5px;}
	.dtable .descr{width: 250px;}
	.dtable td.descr{text-align: left;}
	.dtable td.coder input{text-align: center;}
	.dtable td.pricr input{text-align: center;}
	.dtable td.quanr{}
	.dtable td.quanr input{text-align: center;}
	.dtable td.netwr input{text-align: center;}
	.dtable td.growr input{text-align: center;}
	/*.dtable th.qtymetr {width: 190px;padding-left: 15px;padding-right: 15px;}*/
	.dtable th.unitr {width: 150px;padding-left: 15px;padding-right: 15px;}
.dtable.dtable2{}
	.dtable.dtable2 .numr{
		border-right-color:transparent;text-align: right;
		padding-right: 0;
	}
	.dtable.dtable2 th.numr{width: 30px;}
	.dtable.dtable2 th.descr{padding-right: 30px;}
	.dtable.dtable2 .footempty{
		border-left-color:transparent;
		border-bottom-color:transparent;
	}
	.dtable.dtable2 th.t-pricr{padding-top: 10px;padding-bottom: 10px;}

/*--------ETABLE---------*/

.etable{}
	.etable th{}
	.etable td{}
	.etable td .inv{color: #808080;text-align: right;font-weight: bold;}
	
/*--------KTABLE---------*/

.ktable{}
	.ktable input[type="text"]{padding: 0 5px;}
	.ktable tr td{vertical-align: top;}

.itog_table{overflow: auto;}
	.itog_table > table{}
		.itog_table > table > thead > tr > th {white-space: nowrap;}
		.itog_table > table > tbody > tr > td {white-space: nowrap;vertical-align: middle;}
		.itog_table .ui.form input.inp {
			margin-top: -0.18em;
	    margin-bottom: -1em;
	    padding-top: 0.3em;
	    padding-bottom: 0.3em;
	    font-size: 0.9em;
		}

.my_chbox .ui.toggle.checkbox input:checked ~ .box:before, 
.my_chbox .ui.toggle.checkbox input:checked ~ label:before {
	background-color: #30b2a6 !important;
}

.chbox_data .filter_menu{
	width: auto;min-width: 150px;max-width: 300px;
	position: absolute;z-index: 1;top: 20px;
	box-shadow: 0 1px 10px #000;background: #fff;
	padding: 10px;right: -8px;
	display: none;
}
.chbox_data.active .filter_menu{
	display: block;
}

.chbox_content{
	text-align: left;
}
.chbox_data{}
.chbox_caret{
	display: inline-block;
  width: 20px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: -8px;
  bottom: -18px;
  background: #acdede;
  border-radius: 3px;
  box-shadow: 0 0 3px #b3e0e0;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.chbox_caret:hover {
  background: #9bcccc;
}
.chbox_caret:active {
  box-shadow: none;
}
.chbox_caret.active{
  box-shadow: none;
  background: red;
}
.chbox_data.active .chbox_caret{
  box-shadow: none;
  background: #9bcccc;
}
.chbox_head{}
	.chbox_head label{
		margin: 0;
		font-size: 12px;
	}
.checkbox_body{
	margin: 0;list-style: none;padding: 0;
}
.checkbox_body li{
	overflow: hidden;
	font-size: 12px;
}
#BigTable{}
	#BigTable tbody tr{}
	#BigTable tbody tr.inactive{display: none;}

/***************SPECIAL STYLES******************/
.dib{display: inline-block !important;}
.vam{vertical-align: middle !important;}
.vat{vertical-align: top !important;}
.vh{visibility: hidden !important;}
.posr{position: relative !important;}
.posa{position: absolute !important;}
.tal{text-align: left !important;}
.fwb{font-weight: bold !important;}
.bgn{background: none !important;}
.otn{outline: none !important;}

.ml0{margin-left: 0 !important;}
.ml1{margin-left: 2px !important;}
.ml2{margin-left: 4px !important;}
.ml3{margin-left: 6px !important;}
.ml4{margin-left: 8px !important;}
.ml5{margin-left: 10px !important;}
.ml6{margin-left: 12px !important;}
.ml7{margin-left: 15px !important;}

.mb0{margin-bottom: 0 !important;}
.mb1{margin-bottom: 2px !important;}
.mb2{margin-bottom: 4px !important;}
.mb3{margin-bottom: 6px !important;}
.mb4{margin-bottom: 8px !important;}
.mb5{margin-bottom: 10px !important;}
.mb6{margin-bottom: 12px !important;}
.mb7{margin-bottom: 15px !important;}

.mt0{margin-top: 0 !important;}
.mt1{margin-top: 2px !important;}
.mt2{margin-top: 4px !important;}
.mt3{margin-top: 6px !important;}
.mt4{margin-top: 8px !important;}
.mt5{margin-top: 10px !important;}
.mt6{margin-top: 12px !important;}
.mt7{margin-top: 15px !important;}

.mr0{margin-right: 0 !important;}
.mr1{margin-right: 2px !important;}
.mr2{margin-right: 4px !important;}
.mr3{margin-right: 6px !important;}
.mr4{margin-right: 8px !important;}
.mr5{margin-right: 10px !important;}
.mr6{margin-right: 12px !important;}
.mr7{margin-right: 15px !important;}

.px0{padding-left: 0 !important;padding-right: 0 !important;}
.px1{padding-left: 2px !important;padding-right: 2px !important;}
.px2{padding-left: 4px !important;padding-right: 4px !important;}
.px3{padding-left: 6px !important;padding-right: 6px !important;}
.px4{padding-left: 8px !important;padding-right: 8px !important;}
.px5{padding-left: 10px !important;padding-right: 10px !important;}
.px6{padding-left: 12px !important;padding-right: 12px !important;}
.px7{padding-left: 15px !important;padding-right: 15px !important;}
.px8{padding-left: 20px !important;padding-right: 20px !important;}

.pt0{padding-top: 0 !important;}
.pt1{padding-top: 2px !important;}
.pt2{padding-top: 4px !important;}
.pt3{padding-top: 6px !important;}
.pt4{padding-top: 8px !important;}
.pt5{padding-top: 10px !important;}
.pt6{padding-top: 12px !important;}
.pt7{padding-top: 15px !important;}

.pa-0{padding: 0 !important}
.pa-1{padding: 0.5em !important}
.pa-2{padding: 0.12em !important}
.pa-3{padding: 0.3em !important}
.pa-4{padding: 0.4em !important}
.pa-5{padding: 0.5em !important}
.pa-6{padding: 0.7em !important}
.pa-7{padding: 1em !important}
.pa-8{padding: 1.2em !important}
.pa-9{padding: 1.5em !important}
.pa-10{padding: 2em !important}

.px-0{padding-left: 0 !important;padding-right: 0 !important;}
.py-0{padding-top: 0 !important;padding-bottom: 0 !important;}

.full-height{height: 100%}

.checkbox.mine{margin-right: 20px;}