ul, ul.breadcrumb {margin: 0;}
h1, .h1, h2, .h2, h3, .h3{margin-top: 10px;}
.site-login{width: 400px;margin: 0 auto;}
.site-login .help-block{margin: 0;}
.table_format{
	border: 1px solid #d0d0d0; padding: 10px 30px;
    box-shadow: 0 0 12px rgb(183, 183, 183);
}
.invoice_table{border: 1px solid #000; width: 100%;}
.invoice_table th{border: 1px solid #000;vertical-align: top;}
.invoice_table td{border: 1px solid #000;vertical-align: top;}
.invoice_table td .e-div{padding: 3px 10px;min-height: 50px;}

.invoice_table td h4, .invoice_table td h5, .invoice_table td p{margin: 0 0 2px 0;}
.invoice_table td h5{font-weight: bold;}
.invoice_table td input[type="text"]{
	border: 0 none;padding: 2px 0;
}
.invoice_table td .in_adres_ru input[type="text"], 
.invoice_table td .in_adres_en input[type="text"] {
	width: 100%;
}

.contract_table{}
.contract_table tr.first td{
	text-align: center;font-weight: bold;font-size: 17px;
	padding-top: 8px;padding-bottom: 8px;
}

.invoice_table_products{border: 1px solid #000; width: 100%;}
.invoice_table_products td, .invoice_table_products th{
	border: 1px solid #000;
	vertical-align: top;text-align: center;
}
.invoice_table_products .numr{
	padding: 0 10px;
}
.invoice_table_products td{
	vertical-align: middle;padding: 10px 0;
}
.invoice_table_products td input{
	border: 0 none;text-align: center;
}
.invoice_table_products td.descr{
	text-align: left;min-width: 260px;
}
.invoice_table_products td.coder input{
	width: 140px;
}
.invoice_table_products .unitr{
	max-width: 170px;
}
.invoice_table_products .pricr{
	max-width: 170px;
}
.invoice_table_products td.pricr input{
	width: 140px;
}
.invoice_table_products td.quanr input{
	width: 80px;
}

.add_btn, .remove_btn{position: relative;}
.plus_btn, .minus_btn{
	position: absolute;
	border-radius: 100px;
	z-index: 2;
	text-align: center;
	padding:0;
	cursor: pointer;
	user-select: none;-moz-user-select: none;
	-webkit-user-select: none;-ms-user-select: none;
}
.plus_btn{
	background: rgba(140, 235, 251, 0.89);
	color: #3360b1;font-size: 30px;
	bottom: -15px;right: -45px;
	width: 40px;height: 40px;
}
.plus_btn:hover{background: #5be8ff;color: #0041b5;}
.minus_btn{
	background: rgba(251, 140, 168, 0.89);
	color: #92374f;font-size: 22px;
	bottom: -10px;right: -30px;
	width: 30px;height: 30px;
	font-weight: bold;
}
.minus_btn:hover{background: #FB82A0;color: #5F031B;}

.ul_dropdown{position: relative;}
.ul_dropdown .ul_head{cursor: pointer; padding: 0 10px;}
.ul_dropdown .ul_content{
	position: absolute;
    z-index: 2; top: 105%; left: 0; right: 0;
    list-style: none; padding: 0; margin: 0;
    border: 1px solid #757575;
    box-shadow: 1px 1px 10px #080808;
    max-height: 300px; overflow-y: auto;
    display: none;
}
.ul_dropdown .ul_content li{
	background-color: #fbfbfb;
	padding: 5px;cursor: pointer;
}
.ul_dropdown .ul_content li:hover{
	background-color: #efefef;
}
.ul_dropdown .ul_content li.ul_selected{
	background-color: #9ff9ae;
}
.invoice_table_products_clone{display: none;}
.red{color: red;}
.italic{font-style: italic;}
.w10{width: 10%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
.left{float: left;}
.right{float: right;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.relative{position: relative;}
.ml10{margin-left: 10%;}

.form-control2 {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    min-height: 100px;
}
.form-control2:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.o_table{width: 100%;overflow-x: auto;}
.o_table *{font-size: 12px;}
table.priloj2{
	width: 4000px;
}
table.priloj2 thead th, table.priloj2 tbody td{border: 1px solid #000;}
table.priloj2 thead th.bl0{border-left-color: transparent !important;}
table.priloj2 thead th.bb0{border-bottom-color: transparent !important;}
table.priloj2 thead th.bt0{border-top-color: transparent !important;}
table.priloj2 thead th.br0{border-right-color: transparent !important;}
table.priloj2 thead th.bdrt{border-top: 1px solid #000 !important;}

.bgreen{background: #92D050;}

.fbold{font-weight: bold;}

.b_style{white-space:nowrap;text-align:center;margin-bottom: 2px;}
.tal{text-align: left !important;}
.tar{text-align: right !important;}
.tac{text-align: center !important;}
.fsi{font-style: italic !important;}
.size-0{
	font-size: 15px;
}
.size-1{
	font-size: 16px;
}

.label-warning2{background-color: #e5602d;}
.label-success2{background-color: #7dab51;}


/*****************************.table1*****************************/
.table1{
	background-color: #e4e4ff; padding: 1px 1px 1px 2px;border-radius: 5px;
	border: 1px solid #bdbdff;overflow: auto;margin-bottom: 15px;
}
.table1 table > tbody > tr > td {vertical-align: middle;}
.table1 table.table-striped > tbody > tr:nth-of-type(odd) {background-color: #fdfdfd;}
.table1 table, .table1 table th, .table1 table td{
	margin: 0;border-color: #bdbdff !important;
}
.table1 .summary{
	color: #1515ff; text-shadow: 1px 1px 1px #fff; padding: 5px; text-align: right;
}
.table1 table thead th{text-align: center;}
.table1 table thead th a{color: #1515ff; text-shadow: 1px 1px 1px #fff;}

/*****************************.table2*****************************/
.table2{
	background-color: #e4fff2; padding: 1px 1px 1px 2px;border-radius: 5px;
	border: 1px solid #9feac6;overflow: auto;margin-bottom: 15px;
}
.table2 table > tbody > tr > td {vertical-align: middle;}
.table2 table.table-striped > tbody > tr:nth-of-type(odd) {background-color: #fdfdfd;}
.table2 table, .table2 table th, .table2 table td{
	border-color: transparent !important;margin: 0;
}
.table2 .summary{
	color: #008645; text-shadow: 1px 1px 1px #fff; padding: 5px; text-align: right;
}
.table2 table thead th{text-align: center;}
.table2 table thead th a{color: #008645; text-shadow: 1px 1px 1px #fff;}

/*****************************.table3*****************************/
.table3{
	background-color: #fff9d2; padding: 1px 1px 1px 2px;border-radius: 5px;
	border: 1px solid #e2d792;overflow: auto;margin-bottom: 15px;
}
.table3 table > tbody > tr > td {vertical-align: middle;}
.table3 table.table-striped > tbody > tr:nth-of-type(odd) {background-color: #fdfdfd;}
.table3 table, .table3 table th, .table3 table td{
	border-color: transparent !important;margin: 0;
}
.table3 .summary{
	color: #d06f07; text-shadow: 1px 1px 1px #fff; padding: 5px; text-align: right;
}
.table3 table thead th{text-align: center;}
.table3 table thead th a{color: #d06f07; text-shadow: 1px 1px 1px #fff;}

/*****************************.table4*****************************/
.table4{
	background-color: #fff1e2; padding: 1px 1px 1px 2px;border-radius: 5px;
	border: 1px solid #ffcc94;overflow: auto;margin-bottom: 15px;
}
.table4 table > tbody > tr > td {vertical-align: middle;}
.table4 table.table-striped > tbody > tr:nth-of-type(odd) {background-color: #fdfdfd;}
.table4 table, .table4 table th, .table4 table td{
	border-color: transparent !important;margin: 0;
}
.table4 .summary{
	color: #bd6200; text-shadow: 1px 1px 1px #fff; padding: 5px; text-align: right;
}
.table4 table thead th{text-align: center;}
.table4 table thead th a{color: #bd6200; text-shadow: 1px 1px 1px #fff;}

/*****************************.table5*****************************/
.table5{
	background-color: #e8ffd7; padding: 1px 1px 1px 2px;border-radius: 5px;
	border: 1px solid #bdff8d;overflow: auto;margin-bottom: 15px;
}
.table5 table > tbody > tr > td {vertical-align: middle;}
.table5 table.table-striped > tbody > tr:nth-of-type(odd) {background-color: #fdfdfd;}
.table5 table, .table5 table th, .table5 table td{
	border-color: transparent !important;margin: 0;
}
.table5 .summary{
	color: #48a901; text-shadow: 1px 1px 1px #fff; padding: 5px; text-align: right;
}
.table5 table thead th{text-align: center;}
.table5 table thead th a{color: #48a901; text-shadow: 1px 1px 1px #fff;}

/*****************************.table6*****************************/
.table6{
	background-color: #f8effd; padding: 1px 1px 1px 2px;border-radius: 5px;
	border: 1px solid #e5b6ff;overflow: auto;margin-bottom: 15px;
}
.table6 table > tbody > tr > td {vertical-align: middle;}
.table6 table.table-striped > tbody > tr:nth-of-type(odd) {background-color: #fdfdfd;}
.table6 table, .table6 table th, .table6 table td{
	border-color: transparent !important;margin: 0;
}
.table6 .summary{
	color: #a13bda; text-shadow: 1px 1px 1px #fff; padding: 5px; text-align: right;
}
.table6 table thead th{text-align: center;}
.table6 table thead th a{color: #a13bda; text-shadow: 1px 1px 1px #fff;}

input.input1{
	border: 0 none; width: 300px; background: rgba(255, 248, 157, 0.78);
    padding: 4px 10px !important; border-radius: 5px; font-weight: bold;
}
.ui.table thead th{
	border-bottom: 0 none;
	background: transparent;
}
.ui.table thead tr:first-child th, .ui.table thead tr.colored th{
	background: #4fc8c2;
}
.ui.table thead tr:first-child th, .ui.table thead tr:first-child th *{
	color: #fff;
}


@media print {
	.container{padding: 0 !important;}
	.footer{display: none;}
	.table_format{padding: 0;border: 0 none;}
	.no-print{display: none;}
	.breadcrumb{display: none;}
	.add_btn{display: none;}
	.remove_btn{display: none;}
	.field-invoices-status{display: none;}
	.invoice_table_products .descr{
		max-width: 150px;
		min-width: 50px;
	}
	.invoice_table_products .pricr, .invoice_table_products .pricr input{
		max-width: 100px;
		min-width: 50px;
	}
	.invoice_table_products .coder, .invoice_table_products .coder input{
		max-width: 100px;
		min-width: 50px;
	}
	.th-plus, .td-plus, .th-minus, .td-minus{display: none;}
}